POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=privacy_umbrella
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

INFLUX_URL=https://pu-influxdb.smarko-health.de/
INFLUX_TOKEN=your_influxdb_token_here
INFLUX_ORG=MCS Datalabs GmbH
INFLUX_BUCKET_RAW=raw-data
INFLUX_BUCKET_ANON=anonymized-data

LINKED_OUTPUT_DIR=./output/linked_records
PORT=7003
FLASK_DEBUG=false
# API_KEY=change-me
